@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Helloworf</h1>

    <h1>Hussam Ahtash @DateTime.Now</h1>

    <div class="container">
        <div class="row">
            <div class="col-md-6 bg-danger">
                left
            </div>
            <div class="col-md-6 bg-success">right</div>
        </div>
    </div>
</div>
